

<app-menu></app-menu>

<router-outlet></router-outlet> <!-- El de les routes sempre té el nom router-outlet -->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- PROVA -->

<!-- El pButton, icon, iconPos i p-button-help(Background purple) són propis de PrimeNg per poder-li aplicar estils. És com el bootstrap d'Angular -->
<!-- https://primefaces.org/primeng/showcase/#/button -->
<button 
  icon="pi pi-check" 
  iconPos="right" pButton 
  class="p-button-help"
  label="Cambiar Nombre">
</button>

<br><br>

<!-- Totes les propietats també són part de PrimeNg -->
<p-card header="Abel | titlecase" subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card>